<form action="/meetups/new" method="post">
  <label for="name">Name:</label>
  <input name="name" id="name" type="text">
  <br>
  <textarea name="description" rows="7" cols="50" placeholder="Enter description of event"></textarea>
  <br>
  <label for "location">Location:</label>
  <input name="location" id="location" type="text">
  <br>
  <input type="submit" value="Submit">
</form>
